{% extends 'res.html'%} {% block title%}
<title>Job Finder</title>{%endblock title%} {% block body%}
<div class="container">
    <style>
        h1 {
            color: yellow
        }
        
        h2 {
            color: cyan;
        }
        
        a {
            color: black;
        }
        
        a:hover {
            color: yellow;
        }
    </style>
    <h1 class='text-center'>Job Finder</h1>
    <h2 class="text-center">Forms</h2>
    <br>
    <div class="p-3 mb-2 bg-success text-black">
        <a class="text-center" href="/ApplyForJob">
            <h3>The Job You Want</h3>
        </a>
    </div>
    <div class="p-3 mb-2 bg-danger text-black">
        <a class="text-center" href="/vacancie">
            <h3>Vacancy Available in Your Company</h3>
        </a>

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br> {%endblock body%}