{%extends 'res.html'%} {%block title%}
<title>Job Finder Settings</title>
{%endblock title%} {%block body%}
<style>
    h1 {
        color: yellow;
    }
    
    h2 {
        color: cyan;
    }
    
    a {
        color: black;
    }
    
    a:hover {
        color: rgb(21, 255, 0);
    }
</style>

<h1 class='text-center'>Job Finder</h1>
<h2 class='text-center'>Settings Page</h2>
<div class="container">
    <div class="p-3 mb-2 bg-warning text-black">
        <a class="text-center" href="/deletevacancie">
            <h3>Delete Your Vacancy</h3>
        </a>
    </div>
    <div class="p-3 mb-2 bg-danger text-black">
        <a class="text-center" href="/delete">
            <h3>Delete Your Account</h3>
        </a>

    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> {%endblock body%}
